<!DOCTYPE html>
<html>
<head>
    <title>App store</title>
    <style>
        #main {
            display: inline-block;
            text-align: center;
            position: absolute;
            height: 140px;
            width: 300px;
            margin: 0 0 0 -140px;
            left: 50%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>


<body id="main">
<h1>Hello on socket.io business cards page !</h1>
<p>
    See console to check if connection has been established
</p>

</body>

<script>



    var socket = io('http://localhost:3000',{ query : { id : 1}});

    socket.on('onConnection', function(result){
        console.log("user has been connected, result = ", result);
    });

    socket.on('message', function(data){
        console.log("message from server = ", data);
    });

    socket.emit('message', {message : 'hi from francis client side'});

</script>
</html>