<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

</head>
<body>

<h3>users connector test client</h3>
<h4>check console, if you don't see any errors, then connection is established properly</h4>
<br>

</body>

<script>
    $(document).ready(function(){
        console.log("ready ! ");
        var serverUrl = <%- JSON.stringify(serverUrl) %>;
        var token = <%- JSON.stringify(token)%>;


        serverUrl = serverUrl.replace('http://', '');
        serverUrl = 'ws://'+serverUrl;

        console.log("token from server = ", token);
        console.log("serverUrl before connection", serverUrl);

        var socket = io(serverUrl, { query : "token="+token});

        //$('#connectedUserId').html('<h3>connected user id: '+userId+'</h3>');

        socket.on('connection', function(){
            console.log("connection established ");
        })

        socket.on('error', function(err){
            console.log("error occured = ", err);
        });

        socket.on('exception', function(err){
            console.log("error = ", err.error);
            alert('exception occured', err.error);
        });

        socket.on('notifications', function(notifs){
            console.log("notifs form server = ", notifs);
        });
        /*   socket.emit("message", {
               id : userId,
               message : 'hello server'
           });

           socket.on('message', function(data){
               console.log("data received from server = "+data.message);
               $('#msgFromServer').html('<h3>msg from server: '+data.message+'</h3>');
           });*/
    });
</script>
</html>